.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 50px;
}

.header .header__title{
    font-size: 30px;
    font-weight: 700;
}

.header .header__icon{
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.header .header__header-column{
    display: flex;
    align-items: center;
}

.header .header__back-btn{
    font-size: 22px;
    margin-right: 20px;
}

.header .fa-comments,
.header .fa-comment,
.header .fa-plus,
.header .fa-music{
    opacity: 0.7;
}

.header__header-column .header__icon:nth-child(2){
    position: relative;
    
}


.fa-plus{
    position: absolute;
    font-size: 16px;
    top: 6px;  
    right: 6.5px;
}

.fa-comment-alt{
    cursor: pointer;
}
